body {
  margin: 0 0 0 0;
  padding:0 0 0 0;
  height:100vh;
  width:100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  padding-left: 15px;
  padding-top:10px;
}