.Countries{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
h3{
    padding-Left:20px;
}
.flagdiv{
    display: flex;
    gap:20px;
    padding-left: 20px;
    margin-top: 15px;
}