.Country{
    border:3px solid orange;
    padding:20px;
    margin:20px;
    border-radius: 20px;
    width: 370px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.country-visited{
    background-color: rgba(154, 237, 99, 0.274);
}
.btndiv{
display: flex;
margin-top: 10px;
align-items: center;
gap:10px;
}
.visitedbtn{
    width:110px;
    height:45px;
    border-Radius:10px; 
    border:none;
    background-Color: silver;
    font-Weight:bold;
     padding:"5px";
     font-size: 0.85rem;
     border: 1px solid grey;
}